asgiref==3.8.1
astroid==2.15.8
cachetools==5.3.3
chardet==5.2.0
colorama==0.4.6
distlib==0.3.8
Django==5.0.3
django-environ==0.11.2
execnet==2.0.2
filelock==3.13.3
flake8==6.1.0
flake8-django==1.4
flake8-pytest==1.4
iniconfig==2.0.0
lazy-object-proxy==1.10.0
mccabe==0.7.0
packaging==24.0
platformdirs==4.2.0
pluggy==1.4.0
psycopg2==2.9.9
pycodestyle==2.11.1
pyflakes==3.1.0
pyproject-api==1.6.1
pytest==8.1.1
pytest-django==4.8.0
pytest-xdist==3.5.0
sqlparse==0.4.4
tox==4.14.2
typing_extensions==4.10.0
tzdata==2024.1
virtualenv==20.25.1
wrapt==1.16.0
