* {
    text-transform: lowercase;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text-color);
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

.heading {
    margin-bottom: 20px;
    text-align: center;
}
