* {
    text-transform: lowercase;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text-color);
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

.heading {
    margin-bottom: 20px;
    text-align: center;
}

.btn {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--background);
}

.btn-primary:hover {
    background-color: var(--info);
    transition: 0.1s;
}
